@import "ceurart.scss";
@import "shared.scss";
@import "shared_override.scss";

header {
  .actions, .context {
    display: none;
  }
}

.screenonly {
  display: none;
}

.firstpagefootertop {
  line-height: 0.1em;
  display: block;
  width: 48%;
  border-top: 1px solid black;
}

* {
  font-family: 'Libertinus', sans-serif !important;
}
